.Counter{
  width:400px;
  margin:0 auto;
  padding: 10px;
  border: 1px solid black;
  text-align:center;
}
.Counter__controls >button{
  border:none;
  padding: 10px 15px;
  background-color: blueviolet;
  color: white;
  font-weight: 500;
  margin-left: 5px;
  margin-right:5px;
  cursor:pointer;
  outline:none;
}
.Counter__value{
  margin-right: 15px;
  margin-left: 15px;
  font-size:36px;
}